<h1>About</h1>
<p>We are repairing and selling high quality bikes since anno 2010. Our store is placed in Kreuzberg. So if you want to ride a bike through the city jungle, feel free to come around. (Schwaben müssen draußen bleiben)</p>
